<h3>Lista rzeczy do zrobienia</h3>
<ol>
  <li *ngFor="let rzecz of rzeczy" (click)="przepisz(rzecz)">
    {{rzecz}}
  </li>
</ol>

<div *ngIf="klikniete">
  <p>{{napis}}</p>
  <button *ngIf="widoczny" type="button" (click)="zniknij()">Zrobione</button>
</div>

<form action="" (submit)="wyslij()" >
  <label for="rz">Wpisz rzecz do zrobienia</label>
  <input type="text" name="rz" id="rz" [(ngModel)] = "wartosc">
  <br>
  <button type="submit" >Dodaj</button>
</form>
<app-szcz *ngIf="klikniete" [napis]="wybranarzecz">

</app-szcz>